<nav class="navbar navbar-expand-lg navbar-dark bg-{{bgcolor}} fixed-top">
  <a class="navbar-brand" style="cursor: pointer;">
    <i
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic"
      class="material-icons md-light md-36">reorder</i>
  </a>
  <a class="navbar-brand" href="#">Alchemist</a>

  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item ">
	<a class="nav-link" href="#">
	  <i class="material-icons md-36 md-light">notification_important</i>
	</a>
      </li>
      <li class="nav-item ">
	<a class="nav-link" href="#">
	  <i class="material-icons md-36 md-light">build</i>
	</a>
      </li>
      <li class="nav-item ">
	<a class="nav-link" href="#">
	  <i class="material-icons md-36 md-light">exit_to_app</i>
	</a>
      </li>
    </ul>
  </div>
</nav>


<div id="my-sidebar" class="container-fluid h-100" style="padding-top: 70px;">
  <div class="row h-100">
    <div id="collapseBasic" [collapse]="isCollapsed" class="col-2 bg-dark">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky">
	<ul class="nav navbar-nav mr-auto flex-column">


	  <li class="nav-item navbar-brand">
	    <a class="nav-link active text-lg-left" href="/start">
	      <i class="material-icons md-light md-24"> home </i>
	      Start
	    </a>
	  </li>

	  <li>
	    <hr>
	  </li>

	  <li class="nav-item">
	    <a class="nav-link dropdown-toggle"
	(click) = "isCollapsed_VisAna = !isCollapsed_VisAna"
	[attr.aria-expanded]="!isCollapsed_VisAna"
	aria-controls="collapse_VisAna"
 routerLink="/visual-analysis">
	      <i class="material-icons md-light md-24"> equalizer </i>
	      Visual Analysis</a>
	  </li>
	  <div class="collapse" 
	id="collapse_VisAna"
 [collapse]="isCollapsed_VisAna" >
 <div class="container">
   <ul class="nav navbar-nav mr-auto flex-column">
     <li class="nav-item">
       <a class="nav-link" href="#">PCA</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">t-SNE</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Scatter plot</a>
     </li>
     <li class="nav-item">
       <a class="nav-link " href="#">...</a>
     </li>
   </ul>
 </div>
	  </div>


	  <li class="nav-item">
	    <a class="nav-link" routerLink="/statistical-analysis">
	      <i class="material-icons md-light md-24"> trending_up </i>
	      Statistical Analysis</a>
	  </li>


	  <li class="nav-item">
	    <a class="nav-link" href="#">
	      <img src="assets/images/icons/flask.svg" class="roboto">
	      Property Prediction
	    </a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">
	      <img src="assets/images/icons/roboto.svg" class="roboto">
	      Glass Generator
	    </a>
	  </li>

	  <li>
	    <hr>
	  </li>


	  <li class="nav-item">
	    <a class="nav-link" href="#" >Help</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">About Us</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Our Publications</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Cite</a>
	  </li>
	</ul>
      </nav>


    </div>
    <div class="col" style="">
      <app-contents></app-contents>
    </div>
  </div>
</div>
