<!-- <div class="container bg&#45;dark"> -->
<div class="container-fluid p-3" style="overflow:hidden;height:100%;width:100%">
    <!-- <div class="embed&#45;responsive embed&#45;responsive embed&#45;responsive&#45;16by9 h&#45;100"> -->
    <!-- <div > -->
    <!--   <iframe class="embed&#45;responsive&#45;item" src="http://127.0.0.1:8050/" width="100%" height="100%" scrolling="no"></iframe> -->
    <!-- </div> -->
    <!--  -->
    <!-- <div class="embed&#45;responsive embed&#45;responsive&#45;16by9"> -->
    <!-- <iframe width="100%" height="100%" src="http://127.0.0.1:8050"></iframe> -->
    <!-- </div> -->

    <router-outlet></router-outlet>
  <!-- </div> -->
</div>
<!-- <app&#45;footer&#45;nav></app&#45;footer&#45;nav> -->
